<%= form_for @recipe do |r| %>
  <div>
    <%= r.label :nome_da_receita %><br>
    <%= r.text_field :name %>
  </div>
  <div>
    <%= r.label :cozinha %><br>
    <%= r.collection_select :cuisine_id, Cuisine.all, :id, :cuisine %>  </div>
  <div>
    <%= r.label :tipo %><br>
    <%= r.collection_select :food_type_id, FoodType.all, :id, :food_type %>
  </div>
  <div>
    <%= r.label :preferencia_de_comida %><br>
    <%= r.collection_select :food_preference_id, FoodPreference.all, :id ,:food_preference %>
  </div>
  <div>
    <%= r.label :rendimento %><br>
    <%= r.text_field :serving %>
  </div>
  <div>
    <%= r.label :tempo_de_preparo %><br>
    <%= r.text_field :cooking_time %>
  </div>
  <div>
    <%= r.label :dificuldade %><br>
    <%= r.text_field :difficulty_level %>
  </div>
  <div>
    <%= r.label :ingredientes %><br>
    <%= r.text_area :ingredients %>
  </div>
  <div>
    <%= r.label :instruçoes %><br>
    <%= r.text_area :instructions %>
  </div>
  <div>
    <%= r.submit %>
  </div>
<% end %>