<%= link_to "Voltar a lista de receitas", recipes_path%>
<div>
  <ul>
    <li>Nome da receita: <%=link_to @recipe.name, @recipe %></li>
    <li>Cozinha: <%=link_to @recipe.cuisine.cuisine, @recipe.cuisine %></li>
    <li>Tipo: <%=link_to @recipe.food_type.food_type, @recipe.food_type %></li>
    <li>Preferencia De Comida: <%=link_to @recipe.food_preference.food_preference, @recipe.food_preference %></li>
    <li>Rendimento: <%=@recipe.serving %> pessoas</li>
    <li>Tempo de preparo: <%=@recipe.cooking_time %> minutos</li>
    <li>Dificuldade: <%=@recipe.difficulty_level %></li>
    <li>Ingredientes: <%=@recipe.ingredients %></li>
    <li>Instruçoes: <%=@recipe.instructions %></li>
    <li><%= link_to "Editar", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Deletar", @recipe , :method => :delete %></li>
  </ul>
</div>