<%= form_for @recipe do |r| %>
  <div>
    <%= r.label :nome_da_receita %><br>
    <%= r.text_field :name %>
  </div>
  <div>
    <%= r.label :cozinha %><br>
    <%= r.text_field :cuisine %>
  </div>
  <div>
    <%= r.label :tipo %><br>
    <%= r.text_field :food_type %>
  </div>
  <div>
    <%= r.label :preferencia_de_comida %><br>
    <%= r.text_field :food_preference %>
  </div>
  <div>
    <%= r.label :rendimento %><br>
    <%= r.text_field :serving %>
  </div>
  <div>
    <%= r.label :tempo_de_preparo %><br>
    <%= r.text_field :cooking_time %>
  </div>
  <div>
    <%= r.label :dificuldade %><br>
    <%= r.text_field :difficulty_level %>
  </div>
  <div>
    <%= r.label :ingredientes %><br>
    <%= r.text_area :ingredients %>
  </div>
  <div>
    <%= r.label :instruçoes %><br>
    <%= r.text_area :instructions %>
  </div>
  <div>
    <%= r.submit %>
  </div>
<% end %>